.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4em 0;
    color: white;
}

.footer > img {
    max-width: 160px;
}

.footer > nav {
    margin: 0 3em;
}

.footer > nav > ul {
    padding: 0;
}

.footer > nav > ul > li {
    list-style: none;
    padding: none;
    margin: none;
}

.footer > nav > ul > li > a {
    text-decoration: none;
    color: white;
}